.gradle
build
eclipse
gradle
out
gamitymod_1.7.10.ipr
gamitymod_1.7.10.iws
gamitymods-1.7.10.api.iml
gamitymods-1.7.10.iml
gamitymods-1.7.10.ipr
gamitymods-1.7.10.main.iml
gamitymods-1.7.10.test.iml
gamitymods-1.7.10.iws